<p>Books#index</p>
<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render '/sidebar' %>
    <%= render '/books' %> <!-- users showで絞り込みをかけるため、ローカル変数を渡す方式に変更したほうが良いかも -->
  </div>
</div>