<p>Books#index</p>
<!-- book新規投稿のエラーメッセージ予定地 -->
<!-- 雛形はbooks#editやusers#edit -->

<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render '/sidebar' %>
    <%= render '/books' %>
  </div>
</div>